In [2]:
print("Hello, World!")

Hello, World!

In [3]:
# Variables and Basic Arithmetic
a = 5
b = 3
sum_result = a + b
sub_result = a - b
mul_result = a * b
div_result = a / b

print("Sum:", sum_result)
print("Subtraction:", sub_result)
print("Multiplication:", mul_result)
print("Division:", div_result)

Sum: 8
Subtraction: 2
Multiplication: 15
Division: 1.6666666666666667

In [5]:
# Data Types and Type Conversion
x = 10
y = 3.14
name = "John"
is_student = True

# Type conversion
x_to_str = str(x)
y_to_int = int(y)
name_to_list = list(name)
is_student_to_str = str(is_student)

print("x as string:", x_to_str)
print("y as integer:", y_to_int)
print("name as list:", name_to_list)
print("is_student as string:", is_student_to_str)

x as string: 10
y as integer: 3
name as list: ['J', 'o', 'h', 'n']
is_student as string: True

In [6]:
# Lists and Loops
numbers = [1, 2, 3, 4, 5]

# Loop through the list and print each element
for num in numbers:
    print(num)

# List comprehensions
squared_numbers = [num ** 2 for num in numbers]
print("Squared numbers:", squared_numbers)

1
2
3
4
5
Squared numbers: [1, 4, 9, 16, 25]

In [7]:
# Conditional Statements
age = 25

if age < 18:
    print("You are a minor.")
elif age >= 18 and age < 65:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

You are an adult.

In [8]:
# Functions
def greet(name):
    return "Hello, " + name + "!"

def add(a, b):
    return a + b

print(greet("Alice"))
print("Sum:", add(3, 4))

Hello, Alice!
Sum: 7

In [9]:
# Dictionaries
person = {
    "name": "John",
    "age": 30,
    "is_student": False
}

print("Name:", person["name"])
print("Age:", person["age"])
print("Is Student?", person["is_student"])

Name: John
Age: 30
Is Student? False

In [10]:
# File Handling
file_path = "example.txt"

# Writing to a file
with open(file_path, 'w') as file:
    file.write("This is an example.\n")
    file.write("Python is fun!")

# Reading from a file
with open(file_path, 'r') as file:
    content = file.read()

print("File Content:\n", content)

File Content:
 This is an example.
Python is fun!

In [12]:
# While Loop
count = 0
while count < 5:
    print("Count:", count)
    count += 1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

In [13]:
# String Manipulation
message = "Hello, World!"

# String length
print("Length of the message:", len(message))

# String slicing
substring = message[0:5]  # Get characters from index 0 to 4 (exclusive)
print("Substring:", substring)

# String concatenation
name = "Alice"
greeting = "Hi, " + name + "!"
print(greeting)

# String formatting
age = 25
formatted_string = f"My name is {name} and I am {age} years old."
print(formatted_string)

Length of the message: 13
Substring: Hello
Hi, Alice!
My name is Alice and I am 25 years old.

In [14]:
# Sets
fruits = {"apple", "banana", "orange"}

# Adding elements to a set
fruits.add("grape")

# Removing elements from a set
fruits.remove("banana")  # Raises an error if the element is not present
fruits.discard("kiwi")   # Removes the element if it exists, otherwise does nothing

print("Fruits set:", fruits)

Fruits set: {'orange', 'grape', 'apple'}

In [15]:
# Tuples
point = (3, 5)

# Unpacking a tuple
x, y = point

print("x coordinate:", x)
print("y coordinate:", y)

x coordinate: 3
y coordinate: 5

In [17]:
# List Operations
numbers = [1, 2, 3, 4, 5]

# List append
numbers.append(6)

# List insertion
numbers.insert(2, 7)  # Insert 7 at index 2

# List removal
numbers.pop()   # Removes the last element
numbers.remove(3)  # Removes the first occurrence of 3

# List sorting
numbers.sort()

print("Updated list:", numbers)

Updated list: [1, 2, 4, 5, 7]

In [19]:
# Exception Handling
try:
    num1 = int(input("Enter a number: "))
    num2 = int(input("Enter another number: "))
    result = num1 / num2
    print("Result:", result)
except ValueError:
    print("Invalid input. Please enter valid numbers.")
except ZeroDivisionError:
    print("Cannot divide by zero.")

Enter a number: 10
Enter another number: 0
Cannot divide by zero.

In [20]:
# Classes and Objects
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def bark(self):
        print("Woof! Woof!")

# Creating objects
dog1 = Dog("Buddy", 2)
dog2 = Dog("Molly", 3)

# Accessing object attributes
print(dog1.name)
print(dog2.age)

# Calling object methods
dog1.bark()
dog2.bark()

Buddy
3
Woof! Woof!
Woof! Woof!